*{
    box-sizing:border-box;
    font-family:whyte, sans-serif;
    margin:0;
}

:root{
  --verve-red: #F6511D;
}
/* navigatie */
nav{
    margin: 15px;
    display:flex;
    justify-content: space-between;
    background-color:white;
}
h1{
    font-weight:900;
    font-size:19px;
}
button{
    width:24px;
    height: 24px;
    border-radius:50%;
    border:none;
    background-color:black;
    cursor:pointer;
}

/* first section */

.design-history{
    width: 100vw;
    height: 300px;
    background-color: black;
    display:flex;
    justify-content: center;
    align-items:center;
    overflow:hidden;
    /* opacity:0.8; */
}

.cool-gradient{
  background: linear-gradient(to top left,red, orange, yellow);
}

.design-history h2{
    color:white;
    width:200px;
    line-height:50px;
    font-size:3rem;
    z-index: 2;
    display: block;
}

/* Deze onderstaande dingen niet verwijderen, dit is de cursor voor de desktop versie */
/* .cursor{
    width: 35px;
    height:35px;
    position:absolute;
    background-color:rgb(241, 225, 46);
    border-radius:50%;
    position:absolute;
    z-index: 0;
} */
/* .cursor:hover{
  opacity:1;
} */
/* .design-history:hover{
    cursor:URL('/assets/flashlight-svgrepo-com.svg'), auto;
} */



.walt{
    color:black;
    position:absolute;
    top:57px;
    z-index:2;
    display: none;
}
.amy{
    color:black;
    width:80px;
    position:absolute;
    left:20px;
    z-index:2;
    display: none;
}
.random-text{
  color:black;
  position:absolute;
  top:57px;
  z-index:2;
  user-select: none;
  display:none;
}

/* dog on skateboard */

.dog{
    background-color: transparent;
    position:relative;
    width: 400px;
    height:400px;
    transform:scale(0.8);
    left:-50px;
    top: -90px;
  }
  
  .head{
    width:120px;
    height:68px;
    border-radius: 50%;
    background: linear-gradient( #AC5C2F, #4E1A06);
    position:absolute;
    right:70px;
    top: 110px;
    z-index:1;
  }
  .ear{
    width:50px;
    height:90px;
    background: linear-gradient(#4D1A0C,#B97B54);
    border-radius: 50%;
    position:absolute;
    top:5px;
    transform: rotate(20deg);
    transition: 0.1s;
    left:0px;
  }
  .nose{
    width:30px;
    height:20px;
    background-color: #1B1610;
    position:absolute;
    right:-10px;
    top:10px;
    border-radius:50%;
  }
  
  .eye{
    width:20px;
    height:20px;
    background-color:white;
    border-radius: 50%;
    position: absolute;
    right:35px;
    top: 15px;
    overflow:hidden;
  }
  .pupil{
    width:8px;
    height: 8px;
    background-color:black;
    border-radius:50%;
    position:absolute;
    top: 5px;
    right:3px;
  }
  .body{
    width: 150px;
    height: 100px;
    background:linear-gradient(#A9541F,#C47D52);
    border-radius: 50%;
    position:absolute;
    top:160px;
    right:140px; 
    transform: rotate(-30deg);
    
  }
  
  .paw1{
    height:60px;
    width:30px;
    background: linear-gradient( #AC5C2F, #4E1A06);
    border-radius:50px;
    position:absolute;
    top:210px;
    right:155px;
    z-index: 2;
  }
  .paw2{
    height:70px;
    width:25px;
    background: linear-gradient( #AC5C2F, #4E1A06);
    border-radius: 50px;
    position:absolute;
    top:200px;
    right:130px;
    transform:rotate(-30deg);
    z-index: 2;
  }
  
  .back-paw{
    width:80px;
    height: 50px;
    background: linear-gradient( #AC5C2F, #4E1A06);
    border-radius: 30px;
    position:absolute;
    top: 230px;
    right: 210px;
    transform:rotate(-10deg);
    z-index:2;
  }
  
  .tail{
    width:50px;
    height:50px;
    border-radius:50%;
    background:linear-gradient(#986340,#954A1D);
    position:absolute;
    top:180px;
    right:270px;
  }
  .skateboard{
    width:250px;
    height:30px;
    background-color:#686354;
    border-radius:50%;
    position: absolute;
    top:260px;
    right:80px;
    z-index:1;
  }
  .wheel1{
    width:35px;
    height:35px;
    background-color: black;
    border-radius:50%;
    position:absolute;
    top: 280px;
    left: 120px;
    z-index:0;
  }
  .wheel2{
    width:35px;
    height:35px;
    background-color: black;
    border-radius:50%;
    position:absolute;
    top:280px;
    right:120px;
    z-index: 0;
  }

  /* dog animation */

.ear-animation{
  animation: speed 4s linear;
  animation-iteration-count:1;
  transition:3s;
}

@keyframes speed{
  50%{
    left: -20px;
    top: -40px;
    transform: rotate(90deg);
  }
}

  .skating{
    animation: skater-dog 2s linear;
    animation-iteration-count: 1;
  }

@keyframes skater-dog{
  20%{
    transform:translateX(700px);
  }
  20%{
    opacity:0;
  }
  50%{
    opacity:0;
    transform: translateX(-700px)
  }
  60%{
    opacity:0;
  }
  90%{
    opacity:0;
  }
}

/* copy-title */

h2.copy-title{
  color: black;
  position:relative;
  font-size: 38px;
  margin-left:10px;
  margin-right:10px;
  margin-top: -130px;
  font-weight: 100;
}
h3.copy-title{
  font-size: 2rem;
  margin-left:10px;
  margin-right:10px;
  margin-top: 0px;
  font-weight: 100;
}

  /* first paragraph */

  .first-paragraph{
    font-size:28px;
    text-align:auto;
    margin-left:10px;
    margin-right:10px;
    line-height:1.5em;
    position:relative;
    margin-top: 50px;
    /* margin-top:-135px; */
  }

  /* letter party join us now */

  .letter-party{
    display: flex;
    margin-top: 80px;
    margin-left: 20px;
    flex-wrap:wrap;
  }
  .letter-party h3{
    display:inline-block;
    font-size: 3.5rem;
    font-weight:100;
    transition: 0.1s;
    position:relative;
  }
  .join, .us, .now{
    margin-right:20px;
  }

  /* Dit onderstaande niet verwijderen, dit is voor de desktop versie :) */
  /* .letter-party h3:nth-of-type(2):hover{
    color: #F6511D;
  }
  .letter-party h3:nth-of-type(4):hover{
    color: #F6511D;
  }
  .letter-party h3:nth-of-type(6):hover{
    color: #F6511D;
  }
  .letter-party h3:nth-of-type(8):hover{
    color: #F6511D;
  }
  .letter-party h3:nth-of-type(10):hover{
    color: #F6511D;
  }
  .letter-party h3:hover{
    color:#012024;
    transform:scale(1.3) rotate(30deg);
  } */
  .move-letter{
    animation-name: remove;
    animation-duration:15s;
    animation-iteration-count:1;
  }
  
  @keyframes remove{
    from{
      opacity:0;
    }
    to{
      opacity:1;
    }
  }

  /* applications skateboard */

  .join-us-first, .join-us-second, .join-us-third, .join-us-fourth{
    height: 100px;
    /* width: 280px; */
    width: 320px;
    background:transparent;
    position:relative;
    perspective: 1000px;
    margin-top: 30px;
    /* margin-left: 20px; */
  }
  .applications{
    width: 100vw;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }

  .applications h4{
    font-size: 1.6rem;
    /* color: #F6511D; */
  }
  .board{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    background: linear-gradient(to left, black, grey, black);
    border-radius:50px;
    margin-top:50px;
  }
  
  /* Let op: verwijder het onderstaande niet, dat is voor de desktop versie */
  /* .join-us-first:hover .board{
    transform: rotateX(180deg);
  } */
  
  .board-front, .board-back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
  }
  .board-back{
    transform: rotateX(180deg);
  }
  /* front board wheels etc */
  .app-wheel1{
    width: 30px;
    height:15px;
    background: white;
    border-radius: 50px;
    position:absolute;
    top:10px;
    left: 50px;
  }
  
  .app-wheel2{
    width: 30px;
    height:15px;
    background: white;
    border-radius: 50px;
    position:absolute;
    top:75px;
    left: 50px;
  }
  .app-wheel3{
    width: 30px;
    height:15px;
    background: white;
    border-radius: 50px;
    position:absolute;
    top:75px;
    /* left: 200px; */
    left: 240px;
    z-index:2;
  }
  .app-wheel4{
    width: 30px;
    height:15px;
    background: white;
    border-radius: 50px;
    position:absolute;
    top:10px;
    /* left: 200px; */
    left: 240px;
  }
  
  .between-wheels{
    height:50px;
    width: 15px;
    background-color: grey;
    top:25px;
    left: 58px;
    position:absolute;
  }
  
  .between-wheels2{
    height:50px;
    width: 15px;
    background-color: grey;
    top:25px;
    /* left: 208px; */
    left: 248px;
    position:absolute;
  }
  
  
  /* back board nails etc */
  
  .nail1{
    width:8px;
    height:8px;
    background:black;
    border-radius:50%;
    position: absolute;
    top:25px;
    left: 68px;
  }
  .nail2{
    width:8px;
    height:8px;
    background:black;
    border-radius:50%;
    position: absolute;
    top:65px;
    left: 68px;
  }
  .nail3{
    width:8px;
    height:8px;
    background:black;
    border-radius:50%;
    position: absolute;
    top:65px;
    /* left: 208px; */
    left: 248px;
  }
  .nail4{
    width:8px;
    height:8px;
    background:black;
    border-radius:50%;
    position: absolute;
    top:25px;
    /* left: 208px; */
    left: 248px;
  }

  /* aplications skateboard animation mobile */

/* onderstaande animatie werkt niet samen met andere animatie:( */
  /* .flip-over-board{
    animation: flip-skate-board 2s linear;
    animation-iteration-count: 1;
  }
  @keyframes flip-skate-board{
    100%{
      transform: rotateX(180deg);
    }
  } */

  .roll-board{
    animation: app-skateboard-roll 2s linear;
    animation-iteration-count: 1;
    /* animation-delay: 2s; */
  } 

  @keyframes app-skateboard-roll{
    20%{
      transform:translateX(600px);
    }
    20%{
      opacity:0;
    }
    50%{
      opacity:0;
      transform: translateX(-600px)
    }
    60%{
      opacity:0;
    }
    90%{
      opacity:0;
    }
  }


  /* Alien UFO with beam text */

  .ufo{
    height: 500px;
    width:100vw;
    background-color:transparent;
    position:relative;
    top: 150px;
    display:flex;
    /* justify-content: flex-start; */
    align-items: center;
    flex-direction:column;
    overflow:hidden;
  }
  
  .alien{
    width:80px;
    height: 100px;
    border-radius: 50%;
    background-color: green;
    position:relative;
    top:25px;
    display:flex;
  }
  
  .eye1{
    width:25px;
    height: 40px;
    background-color:black;
    border-radius: 50%;
    position:relative;
    top:20px;
    left: 13px;
    transform: rotate(-10deg);
  }
  .pupil1{
    width:5px;
    height:5px;
    background-color: white;
    border-radius:50%;
    position:relative;
    top:20px;
    left:10px;
    animation: pupil-animation 4s linear infinite;
  }
  .eye2{
    width:25px;
    height: 40px;
    background-color:black;
    border-radius: 50%;
    position:relative;
    top:20px;
    left: 20px;
    transform: rotate(10deg);
  }
  .pupil2{
    width:5px;
    height:5px;
    background-color: white;
    border-radius:50%;
    position:relative;
    top:20px;
    left:10px;
    animation: pupil-animation 4s linear infinite;
  }
  
  @keyframes pupil-animation{
    10%{
      background-color:black;
    }
    11%{
      background-color: white;
    }
    50%{
      left:2px;
    }
    60%{
      left: 15px;
    }
  }
  
  .mouth{
    width: 20px;
    height: 15px;
    background-color: green;
    border-bottom: 2px solid black;
    border-radius:50%;
    position:relative;
    top:70px;
    right: 20px;
    transform: rotate(-10deg);
  }
  
  .window{
    height:120px;
    width:200px;
    background-color:powderblue;
    position:relative;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    z-index:1;
    display:flex;
    justify-content:center;
  }
  .shield{
    width:300px;
    height: 80px;
    background-color: silver;
    position: relative;
    border-radius:50px;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;
  }
  .lamp1, .lamp2, .lamp3, .lamp4, .lamp5{
    width:30px;
    height: 30px;
    background-color:var(--verve-red);
    border-radius:50%;
  }
  
  /* animation lights */
  .lamp1{
    animation: lights 2s linear infinite;
  }
  .lamp2{
    animation: lights 2s linear infinite;
    animation-delay: 0.2s;
  }
  .lamp3{
    animation: lights 2s linear infinite;
    animation-delay:0.4s;
  }
  .lamp4{
    animation: lights 2s linear infinite;
    animation-delay:0.6s;
  }
  .lamp5{
    animation: lights 2s linear infinite;
    animation-delay: 0.8s;
  }
  
  @keyframes lights {
    50%{
      background: gold;
    }
  }
  
  .beam{
    height: 400px;
    clip-path: polygon(50% 0%,
                     0% 100%,
                     50% 100%,
                      0% 100%);
    background: lightcyan;
    position: absolute;
    top:100px;
    animation: ufo-beam 10s linear infinite;
  }
  
  @keyframes ufo-beam{
    0%{
       clip-path: polygon(50% 0%,
                     0% 100%,
                     50% 100%,
                      0% 100%);
    }
    10%{
      
       clip-path: polygon(50% 0%,
                     100% 100%,
                     50% 100%,
                      0% 100%);
    }
   
    90%{
    
       clip-path: polygon(50% 0%,
                     100% 100%,
                     50% 100%,
                      0% 100%);
    }
    100%{
      clip-path: polygon(50% 0%,
                     0% 100%,
                     50% 100%,
                      0% 100%);
    }
  }
  
  h5{
    position:relative;
    left:70px;
    top:80px;
    font-size:1.5rem;
    line-height:50px;
    opacity:0;
    animation: alien-text 10s linear infinite;
  }
  
  @keyframes alien-text{
    0%{
      top:-150px;
      left:0px;
      transform: scale(0);
    }
    30%{
      opacity:1;
    }
    50%{
    top:80px;
    /* transform: scale(1); */
    opacity:1;
    }
    100%{
      transform: scale(1.5);
      opacity:1;
      left:123px;
    }
  }


  /* second paragraph */

  .second-paragraph{
    font-size:28px;
    text-align:auto;
    margin-left:10px;
    margin-right:10px;
    line-height:1.5em;
    position:relative;
    margin-top: 250px;
    
  }











































  @media screen and (min-width: 500px) {

    /* letter party letters */
    .letter-party{
      display:flex;
      justify-content:center;
    }
    .letter-party h3{
      font-size: 5.5rem;
    }


    /* vanaf 1010px gaan de header zinnen niet meer strak langs de kant */
    /* first paragraph */
    .first-paragraph{
      /* font-size:28px; */
      margin-left:auto;
      margin-right:auto;
      /* line-height:1.5em; */
      /* position:relative;
      margin-top: 50px; */
      max-width:700px;
      
    }

    /* second paragraph */

    .second-paragraph{
      font-size:28px;
      /* text-align:auto; */
      margin-left:10px;
      margin-right:10px;
      line-height:1.5em;
      position:relative;
      margin-top: 250px;
      max-width:700px;
    }
  }


  @media screen and (min-width: 900px) {
    /* .paragraph-container{
      max-width:1010px;
      display:flex;
      justify-content:center;
      align-items:center;
      
    } */
.container-titles{
  width: 80vw;
}
    h2.copy-title{
      /* max-width: 1000px; */
      text-align:center;
      margin-left:2rem;
      /* line-height:0px; */
    }
    h3.copy-title{
      /* max-width: 1000px; */
      text-align:center;
      margin-top:1.5rem;
      margin-left:-6rem;
      line-height:0px;
    }
  }





  @media screen and (min-width: 1280px) {


    /* cursor light */
    .cursor{
    width: 105px;
    height:105px;
    position:absolute;
    background-color:rgb(241, 225, 46);
    border-radius:50%;
    position:absolute;
    z-index: 0;
    }
    .cursor:hover{
      opacity:1;
    }
    .design-history:hover{
        cursor:URL('/assets/flashlight-svgrepo-com.svg'), auto;
    }
    .cool-gradient{
      background: black;
    }

    .random-text{
      color:black;
      position:absolute;
      top:57px;
      z-index:2;
      user-select: none;
      display: inline;
  }


    /* letter partyyy */

    .letter-party{
      display:flex;
      justify-content:center;
    }
    
    .letter-party h3{
      display:inline-block;
      font-size: 7rem;
      font-weight:100;
      transition: 0.1s;
      position:relative;
      
    }



    .letter-party h3:nth-of-type(2):hover{
    color: #F6511D;
    }
    .letter-party h3:nth-of-type(4):hover{
      color: #F6511D;
    }
    .letter-party h3:nth-of-type(6):hover{
      color: #F6511D;
    }
    .letter-party h3:nth-of-type(8):hover{
      color: #F6511D;
    }
    .letter-party h3:nth-of-type(10):hover{
      color: #F6511D;
    }
    .letter-party h3:hover{
      color:#012024;
      transform:scale(1.3) rotate(30deg);
    }

    /* skater dog animation */

    .skating{
      animation: skater-dog 2s linear;
      animation-iteration-count: 1;
    }
  
  @keyframes skater-dog{
    20%{
      transform:translateX(700px);
    }
    20%{
      opacity:0;
    }
    50%{
      opacity:0;
      transform: translateX(-700px)
    }
    60%{
      opacity:0;
    }
    90%{
      opacity:0;
    }
  }
    /* skateboard application hover */

    .join-us-first:hover .board, .join-us-second:hover .board,.join-us-third:hover .board, .join-us-fourth:hover .board{
    transform: rotateX(180deg);
  }
  }

