*{
    box-sizing:border-box;
    font-family:whyte, sans-serif;
    margin:0;
    /* padding:0 ; */
    
}
/* navigatie */
nav{
    margin: 15px;
    display:flex;
    justify-content: space-between;
    background-color:white;
}
h1{
    font-weight:900;
    font-size:19px;
}
button{
    width:24px;
    height: 24px;
    border-radius:50%;
    border:none;
    background-color:black;
    cursor:pointer;
}

/* first section */

.design-history{
    width: 100vw;
    height: 300px;
    background-color: black;
    display:flex;
    justify-content: center;
    align-items:center;
    overflow:hidden;
    /* opacity:0.8; */
}

.cool-gradient{
  background: linear-gradient(to top left,red, orange, yellow);
}

h2{
    color:white;
    width:200px;
    line-height:50px;
    font-size:3rem;
    z-index: 2;
    display: block;
}

/* Deze onderstaande dingen niet verwijderen, dit is de cursor voor de desktop versie */
/* .cursor{
    width: 35px;
    height:35px;
    position:absolute;
    background-color:rgb(241, 225, 46);
    border-radius:50%;
    position:absolute;
    z-index: 0;
} */
/* .cursor:hover{
  opacity:1;
} */
/* .design-history:hover{
    cursor:URL('/assets/flashlight-svgrepo-com.svg'), auto;
} */



.walt{
    color:black;
    position:absolute;
    top:57px;
    z-index:2;
    display: none;
}
.amy{
    color:black;
    width:80px;
    position:absolute;
    left:20px;
    z-index:2;
    display: none;
}
.random-text{
  color:black;
  position:absolute;
  top:57px;
  z-index:2;
  user-select: none;
  display:none;
}

/* dog on skateboard */

.dog{
    background-color: transparent;
    position:relative;
    width: 400px;
    height:400px;
    transform:scale(0.8);
    left:-50px;
    top: -90px;
  }
  
  .head{
    width:120px;
    height:68px;
    border-radius: 50%;
    background: linear-gradient( #AC5C2F, #4E1A06);
    position:absolute;
    right:70px;
    top: 110px;
    z-index:1;
  }
  .ear{
    width:50px;
    height:90px;
    background: linear-gradient(#4D1A0C,#B97B54);
    border-radius: 50%;
    position:absolute;
    top:5px;
    transform: rotate(20deg);
    transition: 0.1s;
    left:0px;
  }
  .nose{
    width:30px;
    height:20px;
    background-color: #1B1610;
    position:absolute;
    right:-10px;
    top:10px;
    border-radius:50%;
  }
  
  .eye{
    width:20px;
    height:20px;
    background-color:white;
    border-radius: 50%;
    position: absolute;
    right:35px;
    top: 15px;
    overflow:hidden;
  }
  .pupil{
    width:8px;
    height: 8px;
    background-color:black;
    border-radius:50%;
    position:absolute;
    top: 5px;
    right:3px;
  }
  .body{
    width: 150px;
    height: 100px;
    background:linear-gradient(#A9541F,#C47D52);
    border-radius: 50%;
    position:absolute;
    top:160px;
    right:140px; 
    transform: rotate(-30deg);
    
  }
  
  .paw1{
    height:60px;
    width:30px;
    background: linear-gradient( #AC5C2F, #4E1A06);
    border-radius:50px;
    position:absolute;
    top:210px;
    right:155px;
    z-index: 2;
  }
  .paw2{
    height:70px;
    width:25px;
    background: linear-gradient( #AC5C2F, #4E1A06);
    border-radius: 50px;
    position:absolute;
    top:200px;
    right:130px;
    transform:rotate(-30deg);
    z-index: 2;
  }
  
  .back-paw{
    width:80px;
    height: 50px;
    background: linear-gradient( #AC5C2F, #4E1A06);
    border-radius: 30px;
    position:absolute;
    top: 230px;
    right: 210px;
    transform:rotate(-10deg);
    z-index:2;
  }
  
  .tail{
    width:50px;
    height:50px;
    border-radius:50%;
    background:linear-gradient(#986340,#954A1D);
    position:absolute;
    top:180px;
    right:270px;
  }
  .skateboard{
    width:250px;
    height:30px;
    background-color:#686354;
    border-radius:50%;
    position: absolute;
    top:260px;
    right:80px;
    z-index:1;
  }
  .wheel1{
    width:35px;
    height:35px;
    background-color: black;
    border-radius:50%;
    position:absolute;
    top: 280px;
    left: 120px;
    z-index:0;
  }
  .wheel2{
    width:35px;
    height:35px;
    background-color: black;
    border-radius:50%;
    position:absolute;
    top:280px;
    right:120px;
    z-index: 0;
  }

  /* dog animation */

.ear-animation{
  animation: speed 4s linear;
  animation-iteration-count:1;
  transition:3s;
}

@keyframes speed{
  50%{
    left: -20px;
    top: -40px;
    transform: rotate(90deg);
  }
}

  .skating{
    animation: skater-dog 2s linear;
    animation-iteration-count: 1;
  }

@keyframes skater-dog{
  20%{
    transform:translateX(700px);
  }
  20%{
    opacity:0;
  }
  50%{
    opacity:0;
    transform: translateX(-700px)
  }
  60%{
    opacity:0;
  }
  90%{
    opacity:0;
  }
}

  /* first paragraph */

  .first-paragraph{
    font-size:28px;
    text-align:auto;
    margin-left:10px;
    margin-right:10px;
    line-height:1.5em;
    position:relative;
    margin-top:-135px;
  }

  /* letter party join us now */

  .letter-party{
    display: flex;
    /* justify-content:flex-start, space-evenly; */
    margin-top: 80px;
    margin-left: 20px;
  }
  .letter-party h3{
    display:inline-block;
    font-size: 2.5rem;
    font-weight:100;
    transition: 0.1s;
    position:relative;
  }
  .join, .us, .now{
    margin-right:20px;
  }

  /* Dit onderstaande niet verwijderen, dit is voor de desktop versie :) */
  /* .letter-party h3:nth-of-type(2):hover{
    color: #F6511D;
  }
  .letter-party h3:nth-of-type(4):hover{
    color: #F6511D;
  }
  .letter-party h3:nth-of-type(6):hover{
    color: #F6511D;
  }
  .letter-party h3:nth-of-type(8):hover{
    color: #F6511D;
  }
  .letter-party h3:nth-of-type(10):hover{
    color: #F6511D;
  }
  .letter-party h3:hover{
    color:#012024;
    transform:scale(1.3) rotate(30deg);
  } */
  .move-letter{
    animation-name: remove;
    animation-duration:15s;
    animation-iteration-count:1;
  }
  
  @keyframes remove{
    from{
      opacity:0;
    }
    to{
      opacity:1;
    }
  }

  /* applications skateboard */

  .join-us-first{
    height: 100px;
    width: 280px;
    background:transparent;
    position:relative;
    perspective: 1000px;
    margin-top: 70px;
    margin-left: 20px;
  }

  .join-us-first h4{
    font-size: 1.6rem;
  }
  .board{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    background: linear-gradient(to left, black, grey, black);
    border-radius:50px;
  }
  
  /* Let op: verwijder het onderstaande niet, dat is voor de desktop versie */
  /* .join-us-first:hover .board{
    transform: rotateX(180deg);
  } */
  
  .board-front, .board-back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
  }
  .board-back{
    transform: rotateX(180deg);
  }
  /* front board wheels etc */
  .app-wheel1{
    width: 30px;
    height:15px;
    background: white;
    border-radius: 50px;
    position:absolute;
    top:10px;
    left: 50px;
  }
  
  .app-wheel2{
    width: 30px;
    height:15px;
    background: white;
    border-radius: 50px;
    position:absolute;
    top:75px;
    left: 50px;
  }
  .app-wheel3{
    width: 30px;
    height:15px;
    background: white;
    border-radius: 50px;
    position:absolute;
    top:75px;
    left: 200px;
    z-index:2;
  }
  .app-wheel4{
    width: 30px;
    height:15px;
    background: white;
    border-radius: 50px;
    position:absolute;
    top:10px;
    left: 200px;
  }
  
  .between-wheels{
    height:50px;
    width: 15px;
    background-color: grey;
    top:25px;
    left: 58px;
    position:absolute;
  }
  
  .between-wheels2{
    height:50px;
    width: 15px;
    background-color: grey;
    top:25px;
    left: 208px;
    position:absolute;
  }
  
  
  /* back board nails etc */
  
  .nail1{
    width:8px;
    height:8px;
    background:black;
    border-radius:50%;
    position: absolute;
    top:25px;
    left: 68px;
  }
  .nail2{
    width:8px;
    height:8px;
    background:black;
    border-radius:50%;
    position: absolute;
    top:65px;
    left: 68px;
  }
  .nail3{
    width:8px;
    height:8px;
    background:black;
    border-radius:50%;
    position: absolute;
    top:65px;
    left: 208px;
  }
  .nail4{
    width:8px;
    height:8px;
    background:black;
    border-radius:50%;
    position: absolute;
    top:25px;
    left: 208px;
  }

  /* aplications skateboard animation mobile */

/* onderstaande animatie werkt niet samen met andere animatie:( */
  /* .flip-over-board{
    animation: flip-skate-board 2s linear;
    animation-iteration-count: 1;
  }
  @keyframes flip-skate-board{
    100%{
      transform: rotateX(180deg);
    }
  } */

  .roll-board{
    animation: app-skateboard-roll 2s linear;
    animation-iteration-count: 1;
    /* animation-delay: 2s; */
  } 

  @keyframes app-skateboard-roll{
    20%{
      transform:translateX(600px);
    }
    20%{
      opacity:0;
    }
    50%{
      opacity:0;
      transform: translateX(-600px)
    }
    60%{
      opacity:0;
    }
    90%{
      opacity:0;
    }
  }

/* Animation application sun */


.sun{
  width: 280px;
  height: 100px;
  background-color: cyan;
  border-radius: 50px;
  z-index:2;
  margin-left: 20px;
  margin-top:30px;
}

.text{
  display:flex;
  justify-content:center;
  position:relative;
}
.text h1{
  position:absolute;
  top: 35px;
}
.above{
  display:flex;
}
.under{
  display:flex;
  
}
.ray{
  width: 30px;
  height: 30px;
  background-color: gold;
  transform: rotate(45deg);
  position:relative;
  top:-15px;
  left:45px;
}
.ray2{
  width: 30px;
  height: 30px;
  background-color: gold;
  transform: rotate(45deg);
  position:relative;
  top:55px;
  left:45px;
}
.ray3{
  width: 30px;
  height: 30px;
  background-color: gold;
  transform: rotate(45deg);
  position:relative;
  top:-70px;
  left:0px;
}
.ray3:nth-of-type(1){
  top:-65px;
  left:10px;
  transform: rotate(20deg)
}
.ray3:nth-of-type(2){
  top:-65px;
  left:-10px;
  transform:rotate(-30deg);
}
.ray3:nth-of-type(3){
  top:-65px;
  left:-10px;
  transform:rotate(-60deg);
}
.ray3:nth-of-type(4){
  top:-70px;
  left:8px;
  transform:rotate(-20deg);
}

.ray4{
  width: 30px;
  height: 30px;
  background-color: gold;
  transform: rotate(45deg);
  position:relative;
  top:-185px;
  left:280px;
}
.ray4:nth-of-type(1){
  left: 230px;
  top:-188px;
  transform:rotate(-25deg);
}
.ray4:nth-of-type(2){
  left: 255px;
  top:-192px;
  transform:rotate(30deg);
}
.ray4:nth-of-type(3){
  left: 260px;
  top:-187px;
  transform:rotate(60deg)
}
.ray4:nth-of-type(4){
  left: 235px;
  top:-193px;
  transform:rotate(20deg)
}
.ray,.ray2, .ray3, .ray4{
  z-index:-1;
}

.ray:nth-of-type(1){
  animation: colors 4s linear;
  animation-iteration-count:infinite;
}
.ray:nth-of-type(2){
  animation: colors 4s linear;
  animation-iteration-count:infinite;
  animation-delay:0.2s;
}
.ray:nth-of-type(3){
  animation: colors 4s linear;
  animation-iteration-count:infinite;
  animation-delay:0.4s;
}
.ray:nth-of-type(4){
  animation: colors 4s linear;
  animation-iteration-count:infinite;
  animation-delay:0.6s;
}
.ray:nth-of-type(5){
  animation: colors 4s linear;
  animation-iteration-count:infinite;
  animation-delay:0.8s;
}
.ray:nth-of-type(6){
  animation: colors 4s linear;
  animation-iteration-count:infinite;
  animation-delay:1s;
}

@keyframes colors{
  0%{
    background:red;
  }
  10%{
    background: orange;
  }
  20%{
    background: yellow;
  }
  30%{
    background: green;
  }
  40%{
    background: blue;
  }
  50%{
    background: indigo;
  }
  60%{
    background: violet;
  }
  70%{
    background: purple;
  }
  80%{
    background: hotpink;
  }
  90%{
    background: aqua;
  }
  100%{
    background: marine;
  }
}

.ray4:nth-of-type(1){
  animation: colors 4s linear;
  animation-iteration-count:infinite;
  animation-delay: 1.2s;
}
.ray4:nth-of-type(2){
  animation: colors 4s linear;
  animation-iteration-count:infinite;
  animation-delay:1.4s;
}
.ray4:nth-of-type(3){
  animation: colors 4s linear;
  animation-iteration-count:infinite;
  animation-delay:1.6s;
}
.ray4:nth-of-type(4){
  animation: colors 4s linear;
  animation-iteration-count:infinite;
  animation-delay:1.8s;
}

.ray2:nth-of-type(1){
  animation: colors 4s linear;
  animation-iteration-count:infinite;
   animation-delay:3s;
}
.ray2:nth-of-type(2){
  animation: colors 4s linear;
  animation-iteration-count:infinite;
  animation-delay:2.8s;
}
.ray2:nth-of-type(3){
  animation: colors 4s linear;
  animation-iteration-count:infinite;
  animation-delay:2.6s;
}
.ray2:nth-of-type(4){
  animation: colors 4s linear;
  animation-iteration-count:infinite;
  animation-delay:2.4s;
}
.ray2:nth-of-type(5){
  animation: colors 4s linear;
  animation-iteration-count:infinite;
  animation-delay:2.2s;
}
.ray2:nth-of-type(6){
  animation: colors 4s linear;
  animation-iteration-count:infinite;
  animation-delay:2s;
}

.ray3:nth-of-type(1){
  animation: colors 4s linear;
  animation-iteration-count:infinite;
  animation-delay: 3.8s;
}
.ray3:nth-of-type(2){
  animation: colors 4s linear;
  animation-iteration-count:infinite;
  animation-delay:3.6s;
}
.ray3:nth-of-type(3){
  animation: colors 4s linear;
  animation-iteration-count:infinite;
  animation-delay:3.4s;
}
.ray3:nth-of-type(4){
  animation: colors 4s linear;
  animation-iteration-count:infinite;
  animation-delay:3.2s;
}
























































  @media screen and (min-width: 1280px) {


    /* cursor light */
    .cursor{
    width: 55px;
    height:55px;
    position:absolute;
    background-color:rgb(241, 225, 46);
    border-radius:50%;
    position:absolute;
    z-index: 0;
    }
    .cursor:hover{
      opacity:1;
    }
    .design-history:hover{
        cursor:URL('/assets/flashlight-svgrepo-com.svg'), auto;
    }
    .cool-gradient{
      background: black;
    }

    .random-text{
      color:black;
      position:absolute;
      top:57px;
      z-index:2;
      user-select: none;
      display: inline;
  }


    /* letter partyyy */

    .letter-party h3:nth-of-type(2):hover{
    color: #F6511D;
    }
    .letter-party h3:nth-of-type(4):hover{
      color: #F6511D;
    }
    .letter-party h3:nth-of-type(6):hover{
      color: #F6511D;
    }
    .letter-party h3:nth-of-type(8):hover{
      color: #F6511D;
    }
    .letter-party h3:nth-of-type(10):hover{
      color: #F6511D;
    }
    .letter-party h3:hover{
      color:#012024;
      transform:scale(1.3) rotate(30deg);
    }

    /* skateboard application hover */

    .join-us-first:hover .board{
    transform: rotateX(180deg);
  }
  }